<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt=""></a>
    <div class="hero-copy">
      <h1>Welcome</h1>
    </div>
    <%= link_to "Login", "#", class: "button" %>
    <%= link_to "Sign Up", "#", class: "button" %>  </div>
</div>
