<header class="navigation">
  <div class="menu-wrapper">
    <%= link_to image_tag('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png'), '#', class: "logo" %>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
      <a href="javascript:void(0)" class="sign-up">Sign Up</a>
    </div>
  </div>
</header>
